@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  max-width: 1200px;
  margin: auto;
}

.logo img{
  margin-left: 450px;
  margin-top: 150px;
}

.rotate-icon{
  transition: transform 0.3s ease-out;
}

.rotate-link:hover .rotate-icon{
  transform: rotate(360deg);
}

.iit h1{
  margin-top: 20px;
  margin-left: 340px;
  font-family: 'Merriweather', sans-serif;
}

.iit h3{
  margin-top: 10px;
  margin-left: 420px;
  font-family: 'Merriweather', sans-serif;
}
